.App {
  text-align: center;
  width: 300px;
  border: 1px solid #ebe7e7;
  height: 430px;
  margin: auto;
  box-shadow: 4px 4px 8px #e1dddd;
}
.title{
  background: #494545;
  color: white;
  padding: 6px;
  text-transform: uppercase;
}
.display{
  height: 40px;
  margin: 10px;
  text-align: right;
  font-size: 20px;
  color: #5c5c5c;
}
.inputDisplay{
  margin: 5px;
}
.inputDisplayTxt{
  width: 100%;
  border: none;
  border-bottom: 2px solid  #cac7c7;
  display: block;
  height: 40px;
  font-size: 35px;
  color: #5c5c5c;
  text-align:right;
}
.inputDisplayTxt:focus{
  outline: none;
  border-bottom: 2px solid  #00BCD4;
}
.numButton{
      background: white;
      border: none;
      padding: 10px;
      width: 50px;
      height: 50px;
      border-radius: 7px;
      background-color: #e1e8e4;
      box-shadow: 0px 5px 0px 0px #acbab2;
      font-size: 20px;
      cursor: pointer;
      margin: 10px;
}

.numButton:active{
  outline: none;
  box-shadow: none;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}
.numButton:focus{
  outline: none;
}

.action{
  background-color: #2196F3;
  box-shadow: 0px 5px 0px 0px #0f70bd;
  color: #fff;
}
.result{
  height: 120px;
  float: right;
  margin: 0px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #4CAF50;
  box-shadow: 0px 5px 0px 0px #38793b;
  color: #fff;
}
.clear{
  background-color: #F44336;
  box-shadow: 0px 5px 0px 0px #ad2a21;
  color: #fff;
}